{% load i18n %}{% autoescape off %}
{% blocktrans %}Hi,{% endblocktrans %}

{% blocktrans %}You're receiving this email because you requested a password reset for your account.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
http://127.0.0.1:8000/api/v1/auth/password/reset/confirm/?uid={{ uid }}&token={{ token }}
{% endblock %}
{% trans "Your email, in case you've forgotten:" %} {{ user.get_username }}

{% blocktrans %}Regards,{% endblocktrans %}
{% blocktrans %} Team{% endblocktrans %}

{% endautoescape %}
